<div class="container" ">
  <div class="page-header">
    <h3>User Details
      <code>/api/v1/admin/users</code>
    </h3>
  </div>
	
<button type="button" ng-click="addUser()" class="btn btn-primary">Add a test user</button>
 new user result = {{userResponse}} 
 <p>
  <p>
 <button type="button" ng-click="enableAll()" class="btn btn-primary">Enable All</button>
 <button type="button" ng-click="disableAll()" class="btn btn-primary">DisableAll</button>
 <p>
 {{errorMsg}}
	<p> 
  <p class="lead">
    <table class="table table-striped">
      <tr>
        <th>Username</th>
        <th>Role</th>
				<th>Enabled</th>
				<th>Action</th>
      </tr>
      <tr ng-repeat="u in users">
        <td>{{u.username}}</td>
        <td>{{u.role}}</td>
				<td>{{u.enabled}}</td>
				<td>
	         <div class="btn-group" uib-dropdown>
            <button type="button"
                    class="btn btn-primary uib-dropdown-toggle"
                    uib-dropdown-toggle>
                Tasks <span class="caret"></span>
            </button>
            <ul class="uib-dropdown-menu" role="menu">
                <li>
                    <a href="javascript:" ng-click="implement()">Edit</a>
                </li>
                <li>
                    <a href="javascript:" ng-click="deleteUser( u.id )">Delete</a>
                </li>
                <li>
                    <a href="javascript:" ng-click="implement()">Disable</a>
                </li>
								<!--
                <li class="divider"></li>
                -->
                </ul>
	  </div>
    
				</td>
      </tr>
    </table>
  </p>
 
</div>


